<p-table [value]="tableData" [scrollable]="true" [scrollHeight]="scrollHeight + 'px'">
    <ng-template pTemplate="header">
      <tr>
        <ng-container *ngFor="let col of tableColumns">
  
          <th *ngIf="col.header !== ''">{{ col.header }}</th>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let col of tableColumns" [ngClass]="rowData[col.className]">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>