<app-header-menu />
<div class="container-fluid mt-1">
    <div class="row px-1">
        <!-- Left column -->
        <div class="col-md-2">
            <!-- Second card -->
            <div class="card mb-1">
                <div class="Mainheading">
                    <h6>cyber development status</h6>
                </div>
                <app-common-table-with-scroll [tableData]="tableDataOfCyberDevelopementStatus"
                    [tableColumns]="tableColumnsOfCyberDevelopementStatus"
                    [scrollHeight]=""></app-common-table-with-scroll>
            </div>


            <!-- Sixth card -->
            <div class="card mb-1">
                <app-common-table-with-scroll [tableData]="tableDataOfSuggestions"
                    [tableColumns]="tableColumnsOfSuggestions" [scrollHeight]="70"></app-common-table-with-scroll>
            </div>
            <!-- Seventh card -->
            <div class="card mb-1">
                <app-common-table-with-scroll [tableData]="tableDataOfDetects" [tableColumns]="tableColumnsOfDetects"
                    [scrollHeight]=""></app-common-table-with-scroll>
            </div>


        </div>

        <!-- Middle column -->
        <div class="col-md-3">
            <!-- Fourth card -->
            <div class="card mb-1" style="height: 8.05rem;">
                <div class="Mainheading">
                    <h6>lost/abandoned opportunities</h6>
                </div>
                <app-common-table-with-scroll [tableData]="tableDataOfAbandoned"
                    [tableColumns]="tableColumnsOfAbandoned" [scrollHeight]="190"></app-common-table-with-scroll>
            </div>
            <div class="card mb-1">
                <div class="Mainheading">
                    <h6>Pipeline Solutions</h6>
                </div>
                <app-common-table-with-scroll [tableData]="tableDataOfCyberOnPlan"
                    [tableColumns]="tableColumnsOfCyberOnPlan" [scrollHeight]=""></app-common-table-with-scroll>
            </div>
            <!-- Third card -->
            <div class="card">
                <div class="Mainheading">
                    <button class="btnStyle text-white p-1" (click)="handleOpenChart()">Open Chart</button>
                </div>
                <app-common-table-with-scroll [tableData]="tableDataOfCategories"
                    [tableColumns]="tableColumnsOfCategories" [scrollHeight]=""></app-common-table-with-scroll>
            </div>
        </div>

        <div class="modalBox" *ngIf="isExpandChart">


            <div class="card">
                <div class="Mainheading">
                    <h6>nist csf 2.0 mapping</h6>
                </div>
                <button class="btnStyle" (click)="handleOpenChart()">
                    <span class="pi pi-window-maximize"></span>
                    Small screen
                </button>
                <app-cyber-chart [heightOfGraph]="500"></app-cyber-chart>
            </div>

        </div>

        <!-- Right column -->
        <div class="col-md-7 h-100">
            <!-- Fifth card -->
            <div class="card mb-1">
                <div class="Mainheading">
                    <h6>OT CYBERSECURITY MATURITY JOURNEY</h6>
                </div>
                <div class="postion-relative">
                    <div class="blockLine justify-content-between">

                        <div class="info p-1">
                            <span>Pursuit Standard</span>
                            <div class="data-table-outer">
                                <div class="search-container" [ngClass]="{ 'open': showDropdown }">
                                    <div class="p-inputgroup">
                                        <input pInputText type="text" class="p-inputtext"
                                            placeholder="Search Pursuit Standard" [value]="selectedPursuitType"
                                            (click)="toggleDropdown()" />
                                        <span class="p-inputgroup-addon addon-icon">
                                            <span class="pi pi-search addon-search"></span>
                                        </span>
                                        <ul class="dropdown-list">
                                            <li (click)="selectItem('NIST')">NIST</li>
                                            <li (click)="selectItem('ISO27001')">ISO27001</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btnStyle" (click)="handleResize()">
                            <span class="pi pi-window-maximize"></span>
                            Full screen
                        </button>
                    </div>
                    <!-- <img src="../../../assets/drawing_15apr.svg" alt="not"  /> -->
                    <div class="p-2">

                        <object data="../../../assets/drawing_15apr.svg"> </object>
                    </div>
                </div>

                <div class="lastRow container-fluid ">
                    <div class="row">
                        <div class="col-md-4 py-1" *ngFor="let indicator of indicators">
                            <div class="blockin" [ngClass]="indicator.class">
                                <div class="indicatorName">
                                    <h6>{{ indicator.name }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="Mainheading">
                    <h6>site adjustment</h6>
                </div>
                <div class="tableLayout">
                    <div *ngFor="let item of tableDataOfSiteAdustment" class="w-100">
                        <div class="MainheadingTable">
                            <h6>{{item.maturityLevel}}</h6>
                        </div>
                        <app-site-adjustment-table [data]="tableDataOfSiteAdustment"
                            [tableData]="item.tblCapSiteSecurityMaturityMasterSubs"
                            [tableColumns]="tableColumnsOfSiteAdustment"
                            [scrollHeight]="225"></app-site-adjustment-table>
                    </div>
                </div>
                <!-- <app-site-cybertable /> -->
            </div>

            <div class="modalBox" *ngIf="isExpand">
                <div class="card">
                    <div class="Mainheading">
                        <h6>OT CYBERSECURITY MATURITY JOURNEY</h6>
                    </div>
                    <div class="postion-relative">
                        <div class="blockLine">

                            <div class="blocks">
                                <div class="block blocks gap-1">

                                    <span>Pole:</span>
                                    <span>Value</span>
                                </div>
                                <div class="block blocks gap-1">

                                    <span>Region:</span>
                                    <span>Value</span>
                                </div>
                                <div class="block blocks gap-1">

                                    <span>Standard:</span>
                                    <span>Value</span>
                                </div>
                            </div>
                            <button class="btnStyle" (click)="handleResize()">
                                <span class="pi pi-window-maximize"></span>
                                Small screen
                            </button>

                        </div>
                        <div class="p-2">

                            <object data="../../../assets/drawing_15apr.svg"> </object>
                        </div>
                    </div>
                    <div class="lastRow container-fluid ">
                        <div class="row">
                            <div class="col-md-4 py-2" *ngFor="let indicator of indicators">
                                <div class="blockin" [ngClass]="indicator.class">
                                    <div class="indicatorName">
                                        <h6>{{ indicator.name }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>