<table class="maintable">
  <tr>
    <th>Pole</th>
    <th class="text-start">Contry</th>
  </tr>
  <tr>
    <td>APAC</td>
    <td></td>
  </tr>

  <tr>
    <th>Region</th>
    <th class="text-start">Account Manager</th>
  </tr>
  <tr>
    <td class="text-white"> mn</td>
    <td> </td>
  </tr>

  <tr>
    <th>Standard</th>
    <th class="text-start">Account Name</th>
  </tr>
  <tr>
    <td>BLANK</td>
    <td>Relience Industries Ltd</td>
  </tr>

  <tr>
    <th>Contract</th>
    <th class="text-start">Account Site</th>
  </tr>
  <tr>
    <td>NON-A360</td>
    <td>Relience Industries Ltd - Vadodara</td>

  </tr>
</table>